{% extends "base.html" %}
{% load static %}
{% block title %}Todo Index{% endblock title %}
{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock stylesheets %}
{% block content %}
	{{ block.super }}
	<div className="container mt-5 flex-grow-1">
		<div className="jumbotron">
			<h1 className="display-4">OAuth for Django</h1>
			<p className="lead">
				This is a 'todo' app to demonstrate the use of OAuth in a Django app. 
			</p>
			<p>
				The repos for the project is here : <a href="https://github.com/shearichard/django-react-todo-demo">django-react-todo-demo</a>.
			</p>
		</div>
	</div>
{% endblock content %}
