[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
inflection = "*"
uritemplate = "*"
pyyaml = "*"
drf-standardized-errors = {extras = ["openapi"], version = "*"}
django-guid = "*"
dj-loguru = "*"
django-easy-logging = "*"
pytest = "*"
django-cors-headers = "*"
drf-spectacular = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}

[requires]
python_version = "3.10"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
django-extensions = "*"
pytest-django = "*"
django-debug-toolbar = "*"
