{# simple base.html #}
{% load static %}
<html>
<head>
	<title>
		{% block title %}OAuth/Django Demo{% endblock title %}
	</title>
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sketchy/bootstrap.min.css">
	{% endblock stylesheets %}
</head>
<body>
	<div class="content">
        <div class="d-flex flex-column min-vh-100">
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container">
                    <a class="navbar-brand" href="/">Next/Django Demo</a>
                    <ul class="navbar-nav ms-auto d-flex flex-row">
                        <li class="nav-item me-3">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="/mytodos">My Todos</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="/authdiagnostics">Authentication</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container mt-5 flex-grow-1">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
	</div>
</body>
</html>
